.btn {
  background: $black;
  border: 1px solid transparent;
  color: white;
  display: block;
  border-radius: 4px;
  width: 330px;
  padding: 16px 0px;
  cursor: pointer;
}

.btn-icon {
  vertical-align: middle;
}
